.contacts {
  padding: 120px 0 90px 0;
  &__wrapper {
    padding: 0 35px 0 52px;
    display: grid;
    grid-template-columns: 400px 585px;
    justify-content: space-between;
  }
  &__photo {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__descr {
    padding-top: 6px;
    .devider {
      margin: 0;
    }
  }
  &__title {
    position: relative;
    padding-left: 12px;
    @include before_circle;
  }
  &__text {
    margin-top: 20px;
  }
  &__social {
    display: flex;
    margin-top: 20px;
  }
  &__link {
    display: block;
    margin-right: 25px;
    width: 30px;
    height: 30px;
    &:hover {
      text-decoration: none;
    }
    img {
      width: 100%;
    }
    .facebook {
      transform: rotate(90deg);
    }
  }
  &__form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    row-gap: 32px;
    justify-content: space-between;
    label {
      position: absolute;
      display: block;
      height: 18px;
      padding: 0 8px;
      background-color: #fff;
      font-size: 12px;
      top: -9px;
      left: 20px;
      margin-bottom: 0;
    }
  }
  &__input {
    position: relative;
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 16px;
    }
  }
  &__textarea {
    position: relative;
    grid-column: 1/3;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      padding: 20px;
      font-size: 16px;
    }
  }
  &__triggers {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 35px;
    align-items: baseline;
  }
  &__btn {
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000;
  }
  &__policy {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    input {
      margin-right: 10px;
    }
    label {
      position: static;
      a {
        color: #0603cf;
      }
    }
  }
}
