.policy {
  padding: 120px 80px 80px 120px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  h1 {
    font-weight: 500;
    font-size: 44px;
    line-height: 60px;
  }
  h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
  }
}
