.price {
  padding-top: 60px;
  &__wrapper {
    padding: 60px 50px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 366px);
    grid-template-rows: repeat(3, minmax(45px auto));
    grid-auto-rows: minmax(45px auto);
    justify-content: space-between;
    row-gap: 15px;
  }
  &__item {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, minmax(18px auto));
    grid-auto-rows: minmax(18px auto);
    row-gap: 5px;
  }
  &__type,
  &__count {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
  &__count {
    justify-self: end;
  }
  &__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    grid-column: 1/3;
  }
}
