.promo {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  background: url(../img/main.jpeg) center center / cover no-repeat;
  padding-top: 206px;
  padding-bottom: 20px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
  &__title {
    width: 532px;
    margin-top: 9px;
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    @include before_circle;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 248px;
  }
  &__link {
    color: #000000;
    font-weight: 700;
    &:hover {
      color: #000000;
      text-decoration: none;
    }
  }
}
