.promo {
  min-height: 100vh;
  position: relative;
  background: url(../img/main_bg.jpg) no-repeat 50% / cover;
  padding-top: 206px;
  &__title {
    width: 532px;
    margin-top: 9px;
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    @include before_circle;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    width: 248px;
  }
  &__link {
    color: #000000;
    font-weight: 700;
    &:hover {
      color: #000000;
      text-decoration: none;
    }
  }
}
