.resume {
  padding-top: 120px;
  &__title {
    position: relative;
    text-align: center;
    @include before_circle;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
  &__wrapper {
    padding: 60px 65px 0 65px;
    display: grid;
    grid-template-columns: repeat(2, 425px);
    column-gap: 136px;
  }
  &__column {
    &-title {
      position: relative;
      padding-left: 50px;
      &:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    ul {
      list-style-type: none;
      li {
        margin-bottom: 0;
        position: relative;
        &:after {
          content: "";
          width: 1px;
          height: calc(100% + 8px) ;
          position: absolute;
          top: -8px;
          left: 7px;
          background-color: #000;
        }
      }
    }
  }
  &__item {
    position: relative;
    &:before {
        content: '';
        height: 1px;
        width: 42px;
        position: absolute;
        background-color: #000;
        top: 63px;
        left: 8px;
    }
    &-head {
      position: relative;
      padding-left: 106px;
      padding-top: 45px;
    }
    &-icon {
      position: absolute;
      left: 50px;
      top: 45px;
      @include before_circle;
      img {
        position: absolute;
        left: 17px;
        top: 14px;
      }
    }
    &-location {
      font-size: 12px;
      line-height: 18px;
    }
    &-body {
      margin-top: 12px;
      padding-left: 50px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
