.sidepanel {
  position: fixed;
  z-index: 3;
  top: 226px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 338px;
  &__devider {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__text {
    height: 148px;
    width: 24px;
    span {
      display: block;
      transform: rotate(-90deg) translate(-35%, -263%);
      width: 148px;
    }
  }
}
